In [5]:
import numpy as np 
import pandas as pd

ModuleNotFoundError: No module named 'elo'

In [7]:
train = pd.read_csv("../input/train.csv")
merchants = pd.read_csv("../input/merchants.csv")
new_merchants = pd.read_csv("../input/new_merchant_transactions.csv")

In [8]:
print(len(new_merchants))

1963031

In [9]:
print(train.describe())

           feature_1      feature_2      feature_3         target
count  201917.000000  201917.000000  201917.000000  201917.000000
mean        3.105311       1.745410       0.565569      -0.393636
std         1.186160       0.751362       0.495683       3.850500
min         1.000000       1.000000       0.000000     -33.219281
25%         2.000000       1.000000       0.000000      -0.883110
50%         3.000000       2.000000       1.000000      -0.023437
75%         4.000000       2.000000       1.000000       0.765453
max         5.000000       3.000000       1.000000      17.965068

In [10]:
print(train.columns)

Index(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3',
       'target'],
      dtype='object')

In [11]:
bad = train.query("target <= -30")
print(bad.head())

    first_active_month          card_id  feature_1  feature_2  feature_3  \
64             2017-09  C_ID_8186f3fcc1          3          1          1
92             2015-05  C_ID_b9379a30ea          3          3          1
125            2015-10  C_ID_e9120f535c          3          3          1
151            2017-03  C_ID_65715cb80d          4          2          0
225            2017-01  C_ID_ae77d244b6          2          1          0

        target
64  -33.219281
92  -33.219281
125 -33.219281
151 -33.219281
225 -33.219281

In [13]:
print(new_merchants.head())

  authorized_flag          card_id  city_id category_1  installments  \
0               Y  C_ID_415bb3a509      107          N             1
1               Y  C_ID_415bb3a509      140          N             1
2               Y  C_ID_415bb3a509      330          N             1
3               Y  C_ID_415bb3a509       -1          Y             1
4               Y  C_ID_ef55cf8d4b       -1          Y             1

  category_3  merchant_category_id      merchant_id  month_lag  \
0          B                   307  M_ID_b0c793002c          1
1          B                   307  M_ID_88920c89e8          1
2          B                   507  M_ID_ad5237ef6b          2
3          B                   661  M_ID_9e84cda3b1          1
4          B                   166  M_ID_3c86fa3831          1

   purchase_amount        purchase_date  category_2  state_id  subsector_id
0        -0.557574  2018-03-11 14:57:36         1.0         9            19
1        -0.569580  2018-03-19 18:53:37         1.0         9            19
2        -0.551037  2018-04-26 14:08:44         1.0         9            14
3        -0.671925  2018-03-07 09:43:21         NaN        -1             8
4        -0.659904  2018-03-22 21:07:53         NaN        -1            29

In [14]:
bad_ = pd.merge(bad, new_merchants, on="card_id", how="left")
print(len(bad))
print(len(bad_))
print(bad_.head())

2207
8035
  first_active_month          card_id  feature_1  feature_2  feature_3  \
0            2017-09  C_ID_8186f3fcc1          3          1          1
1            2017-09  C_ID_8186f3fcc1          3          1          1
2            2017-09  C_ID_8186f3fcc1          3          1          1
3            2017-09  C_ID_8186f3fcc1          3          1          1
4            2017-09  C_ID_8186f3fcc1          3          1          1

      target authorized_flag  city_id category_1  installments category_3  \
0 -33.219281               Y    149.0          N           1.0          B
1 -33.219281               Y    149.0          N           1.0          B
2 -33.219281               Y    149.0          N           1.0          B
3 -33.219281               Y    149.0          N           1.0          B
4 -33.219281               Y    288.0          N           1.0          B

   merchant_category_id      merchant_id  month_lag  purchase_amount  \
0                 367.0              NaN        1.0        -0.701828
1                  80.0  M_ID_fbaae334f0        2.0        -0.682594
2                 560.0  M_ID_b55158e29e        2.0        -0.701152
3                 130.0  M_ID_b3dc59a9a9        1.0        -0.709342
4                  80.0  M_ID_2d22260d5e        1.0        -0.695818

         purchase_date  category_2  state_id  subsector_id
0  2018-03-10 22:51:58         5.0      20.0          16.0
1  2018-04-23 20:55:01         5.0      20.0          37.0
2  2018-04-07 11:26:11         5.0      20.0          34.0
3  2018-03-08 08:49:23         5.0      20.0          41.0
4  2018-03-16 20:37:22         5.0      20.0          37.0

In [16]:
bad_.to_csv("../output/bad.csv", index=False)

In [17]:
historical = pd.read_csv("../input/historical_transactions.csv")

In [19]:
bad_2 = pd.merge(bad, historical, on="card_id", how="left")
print(len(bad))
print(len(bad_2))
print(bad_2.head())

2207
180105
  first_active_month          card_id  feature_1  feature_2  feature_3  \
0            2017-09  C_ID_8186f3fcc1          3          1          1
1            2017-09  C_ID_8186f3fcc1          3          1          1
2            2017-09  C_ID_8186f3fcc1          3          1          1
3            2017-09  C_ID_8186f3fcc1          3          1          1
4            2017-09  C_ID_8186f3fcc1          3          1          1

      target authorized_flag  city_id category_1  installments category_3  \
0 -33.219281               Y      149          N             1          B
1 -33.219281               Y       -1          Y             2          C
2 -33.219281               Y      304          N             1          B
3 -33.219281               Y      149          N             1          B
4 -33.219281               Y      149          N             1          B

   merchant_category_id      merchant_id  month_lag  purchase_amount  \
0                   705  M_ID_f15a843a23         -1        -0.618055
1                   683  M_ID_7de9fe0811         -4        -0.431381
2                   690  M_ID_fbd2a9a388         -5        -0.611714
3                   705  M_ID_96fad20d15         -2        -0.405535
4                   842  M_ID_7e872c40f6         -1        -0.623690

         purchase_date  category_2  state_id  subsector_id
0  2018-01-06 11:57:23         5.0        20            33
1  2017-10-08 02:54:59         NaN        -1            34
2  2017-09-30 21:07:14         5.0        20             1
3  2017-12-26 16:50:51         5.0        20            33
4  2018-01-13 21:31:40         5.0        20            37

In [20]:
bad_2.to_csv("../output/bad_2.csv", index=False)

In [21]:
print(historical.describe())

            city_id  installments  merchant_category_id     month_lag  \
count  2.911236e+07  2.911236e+07          2.911236e+07  2.911236e+07
mean   1.293256e+02  6.484954e-01          4.810130e+02 -4.487294e+00
std    1.042563e+02  2.795577e+00          2.493757e+02  3.588800e+00
min   -1.000000e+00 -1.000000e+00         -1.000000e+00 -1.300000e+01
25%    5.300000e+01  0.000000e+00          3.070000e+02 -7.000000e+00
50%    9.000000e+01  0.000000e+00          4.540000e+02 -4.000000e+00
75%    2.120000e+02  1.000000e+00          7.050000e+02 -2.000000e+00
max    3.470000e+02  9.990000e+02          8.910000e+02  0.000000e+00

       purchase_amount    category_2      state_id  subsector_id
count     2.911236e+07  2.645950e+07  2.911236e+07  2.911236e+07
mean      3.640090e-02  2.194578e+00  1.056679e+01  2.684839e+01
std       1.123522e+03  1.531896e+00  6.366927e+00  9.692793e+00
min      -7.469078e-01  1.000000e+00 -1.000000e+00 -1.000000e+00
25%      -7.203559e-01  1.000000e+00  9.000000e+00  1.900000e+01
50%      -6.883495e-01  1.000000e+00  9.000000e+00  2.900000e+01
75%      -6.032543e-01  3.000000e+00  1.600000e+01  3.400000e+01
max       6.010604e+06  5.000000e+00  2.400000e+01  4.100000e+01

In [24]:
good = train.query("target <= 5 and target >= 3")
print(len(good))

6297

In [26]:
good_ = pd.merge(good, historical, on="card_id", how="left")
print(len(good_))

346474

In [27]:
good_.to_csv("../output/good.csv", index=False)